:root {
    --aside-box-width: 480px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-box {
    width: calc(100% - var(--aside-box-width));
    height: 100%;
}

.section-box {
    display: inline-block;
    background-color: black;
}